/* GENERAL */
* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("assets/mountains.jpg");
  background-size: cover;
  background-position: center;
  background-color: #007ba7;
}

/* TYPEFACE */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 15em;
  font-weight: bolder;
  margin-bottom: 0;
}

h2 {
  font-size: 5em;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 3%;
}

.score {
  font-size: 3em;
  margin-left: 5em;
  margin-top: 1em;
}

/* CARDS */
.card-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-card {
  width: 71%;
  border-radius: 2em;
  box-shadow: 5px;
}

.p1-shadow {
  box-shadow: 0 0 50px #24A0ED;
}

.p2-shadow {
  box-shadow: 0 0 50px #00FF00;
}

.middle-card-container {
  position: relative;
}

.behind-image {
  transform: rotate(357deg);
  width: 68%;
}

.current-card {
  position: absolute;
  left: 5%;
}

.hidden {
  visibility:hidden;
}
